.search_zipcode_container{
  border: 1px solid black ;
  width: 24%;
  padding: 1% 1% 0% 1%;
}

.search_zipcode_container_display{
  border: 1px solid black ;
  width: 24%;
  padding: 1%;
}
.search_zipcode_container input {
  text-align: center;
  margin-left: 13%;
  margin-top: 5%;
  padding: 3%;
  font-size: 13px;
  outline: none;
}

.font_size_search{
  font-size: 12px;
}

.bold_search{
  font-weight:bold;
}
.search_zipcode_container button{
  color: white;
  background-color: black;
  padding: 3%;
  font-size: small;
}

.error{
  color: red;
  font-size: 14px;
}

.single_store_container{
  border: 1px solid black ;
  width: 32%;
  padding: 2% 3% 2% 3%;
  border-radius: 8px;
  border-color: #8080807d;
  margin-top: 15px;
  margin-bottom: 14px;
}

body {
  font-family: 'helvetica neue';
}

.sold_out{
  color:red;
}

.search_label{
  font-size: 15px;
}



